instagram-card {

    .item-inner > .icon {
        font-size:1.4em;
        color:#999;
    }

    .item {
        ion-avatar {
        min-width: 35px;
        min-height:35px;

            img {
                width:35px;
                height:35px;
            }
        }

        p {
            color:#333;
        }

    }

    .grid > .row > .col {
        padding-right: 2px !important;
    }

    .grid {
        margin-top:5px;
    }

}
